body {
  background-color: blanchedalmond;
}
body img {
  display: list-item;
  height: auto;
  margin: 0 auto;
  max-width: 100% !important;
  min-width: 1px !important;
  text-align: center;
}
.commands {
}
.main {
  background-color: cornsilk;
  display: flex;
  margin: 0 auto;
}
