body {
    max-width: 1600px;
    width: 100%;
    height: 4500px;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    font-family: 'Avenir';
    margin: 0 auto;
}
.wrapper {
    max-width: 1120px;
    margin: 50px auto;
}
.header {
    max-width: 1120px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.logo {
}
.header-menu {
  width: 322px;  
  height: 30px;
  position: relative;
  right: 15%;
}
.header-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header-link {
    text-decoration: none;
    color: #4b5d68;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
}
.header-link a:checked {
    color: #212353;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 400;
}
.request-btn {
    width: 210px;
    height: 60px;
    box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #ffffff;
    color: #212353;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.08px;
    line-height: 25.6px;
    position: relative;
}
.arrow {
    margin-left: 15px;
    vertical-align: middle;
}
.main {
}
.data-store-info {
}
.data-store-heading {
}
.data-store-description {
}
.data-store-text {
}
.data-store-btn {
}
.data-store-img {
}
.info {
}
.info-img {
}
.info-heading {
}
.info-description {
}
.features {
}
.features-heading {
}
.features-info {
}
.features-types {
}
.man_loupe-img {
}
.type-heading {
}
.type-description {
}
.learn-more {
}
.girl_comp-img {
}
.printer-img {
}
.lock-img {
}
.testimonials {
}
.testimonials-heading {
}
.customer-testimonial {
}
.testimonials-img {
}
.customer-name {
}
.wordfaang-com {
}
.feedback {
}
.slider-nav {
}
.dots {
}
.nav-arrows {
}
.free {
}
.free-heading {
}
.free-info {
}
.free-more {
}
.footer {
}
.ft-wrapper {
}
.ft-address {
}
.ft-address-heading {
}
.contacts-text {
}
.ft-about {
}
.ft-heading {
}
.ft-menu {
}
.ft-help {
}
.ft-social {
}
.ft-menu-social {
}
.ft-social-media {
}
.ft-social-media-img {
}
.footer-copyright {
}
.copyright {
}
.copyright-info {
}
.chat-bot {
}