body {
    max-width: 1600px;
    width: 100%;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    font-family: 'Avenir';
    margin: 0 auto;
  }
.wrapper {
    max-width: 1120px;
    margin: 50px auto;
}
.header {
    max-width: 1120px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-right: 15px;
}
.header-menu {
  width: 322px;  
  height: 30px;
  position: relative;
  right: 15%;
}
.header-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header-link {
    text-decoration: none;
    color: #4b5d68;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}
.request-btn {
    width: 210px;
    height: 60px;
    box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #ffffff;
    color: #212353;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.08px;
    line-height: 25.6px;
    position: relative;
}
.arrow {
    margin-left: 15px;
    vertical-align: middle;
}
.data-store-info {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.data-store-position {
    display: grid;
    grid-template-columns: 320px 1fr;
    align-items: center;
}
.data-store-heading {
    width: 645px;
    height: 184px;
    color: #212353;
    font-family: 'Helvetica';
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
}
.data-store-description {
    margin-bottom: 13rem;   
}
.data-store-text {
    width: 300px;
    color: #4b5d68;
    font-family: 'Avenir';
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;  
}
.data-store-btn, .free-more {
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: #9c69e2;
    color: #ffffff;
    font-family: 'Avenir';
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    margin-top: 20px;
    outline: none;
}
.info {
    width: 1117px;
    height: 561px;
    border-radius: 50px;
    background-color: rgba(240, 99, 184, 0.15);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    row-gap: 20px;
    justify-items: center;
    align-items:  center;    
}
.info-heading {
    width: 475px;
    height: 144px;
    color: #212353;
    font-family: 'Helvetica';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-right: 30px;
}
.info-description {
    width: 400px;
    height: 171px;
    color: #4b5d68;
    font-family: 'Avenir';
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
}
.features {
    max-width: 1109px;
    margin-top: 10em;

}
.features-heading {
    width: 406px;
    height: 52px;
    color: #212353;
    font-family: 'Helvetica';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin: 0 auto;
    text-align: center;
}
.features-info {
    width: 500px;
    height: 58px;
    color: #4b5d68;
    font-family: 'Avenir';
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    margin: 50px auto;
    text-align: center;
}
.features-types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5em;
    margin-top: 10em;
    margin-bottom: 10em;
}
.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.subgrid {
    display: grid;
    grid-template-rows: 90px 200px 50px;
}
.type-heading {
    color: #212353;
    font-family: 'Helvetica';
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
}
.type-description {
    color: #4b5d68;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 0.03em;
    width: 12em;
    }
.learn-more {
    text-decoration: none;
    color: #212353;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 5em;
}
.testimonials {
    max-width: 1120px;
    border-radius: 50px;
    background-color: #9c69e2;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
}
.testimonials-heading {
    width: 405px;
    height: 52px;
    color: #ffffff;
    font-family: 'Helvetica';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 2em;
}
.customer-testimonial {
    width: 949px;
    height: 330px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 25px 0 rgb(75 53 105 / 0.3);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}
.testimonials-img {
   position: relative;
   left: 40%;
   top: 20%;
}
.customer-name {
    width: 251px;
    height: 29px;
    color: #212353;
    font-family: 'Avenir';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.09px;
    line-height: 28.8px;
    margin-top: 50px;
}
.wordfaang-com {
    text-decoration: none;
    color: #9c69e2;
    font-family: 'Avenir';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
    line-height: 22.4px;
}
.feedback {
    color: #4b5d68;
    font-family: 'Avenir';
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    width: 400px;   
}
.slider-nav {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.nav-arrows {
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin-right: 8%;
}
.free {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center ;
    align-items: center;
    border-top: 3px solid #ebe1f9;
    margin-top: 8em;
    margin-bottom: 10em;
    padding-top: 5em;
}
.free-heading {
    width: 405px;
    height: 52px;
    color: #212353;
    font-family: 'Helvetica';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}
.free-info {
    width: 584px;
    height: 29px;
    color: #4b5d68;
    font-family: 'Avenir';
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
}
.free-more {
    background-color: #f063b8;
    margin: 0 0;   
}
.ft-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.ft-address-heading {
    color: #212353;
    font-family: 'Avenir';
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 2em; 
}
.contacts-text {
    width: 335px;
    color: #212353;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
}
.contacts-text a, .ft-menu a {
    text-decoration: none;
    color: #212353;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 3em;
}
.mail {
    margin: 0 0;
}
.ft-menu a {
    line-height: 40px;
}
.ft-heading {
    color: #212353;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.ft-menu {
    list-style-type: none;
    padding-inline-start: 0px;
}
.ft-menu-social {
    list-style-type: none;
    padding-inline-start: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7em;
}
.copyright-info {
    color: #212353;
    font-family: 'Avenir';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}
.chat-bot {
    display: grid;
    justify-items: end;
}
.hover:hover {
    cursor: pointer;
    margin-top: 1em;
}
