body {
  background-color: blanchedalmond;
  font-family: "Baloo Tamma 2", cursive;
}
body img {
  max-width: 600px;
  width: auto;
  margin-left: 100px;
}
body code {
  color: red;
  padding: 10px;
}
.commands {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-size: 18px;
}
.commands span {
  background-color: rgba(219, 211, 211, 0.7);
  border-radius: 10px;
  color: #750b04;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}
.main {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}
header {
  text-align: center;
  color: #750b04;
}
.wildcard {
  list-style: none;
}
