@import "media";
$blue_btn_color: #111B47;
$default_btn_width: 189px;
$btn_txt_color: #fff;
$heading_txt_color: #091133;
%width80{
    width: 80%;
    margin: 0 auto;
}
%h1{
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 66px;
    font-size: 50px;
    color: #091133;
}
%h2{
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 48px;
    font-size: 36px;
    color: #091133;
}
%text{
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #6F7CB2;
}
%grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-template-rows: 35rem;
    column-gap: 30px;
    justify-items: center;
    align-items:  center;
}
%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%hover{
    &:hover {
        color: #091133;
        background-color: rgba(121, 142, 224, 0.5);
        border: 2px solid #091133;
        transform: scale(1.2);
        text-shadow: 3px 5px 2px #474747;
    }
}
%hover-heading {
    &:hover {
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    }
}
@mixin navigation($color){
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: $color;
    text-decoration: none;
}
@mixin btn($width, $height, $bg, $txt_color, $fz){
    width: $width;
    height: $height;
    background: $bg;
    border-radius: 2px;
    font-family: 'Roboto';
    font-size: $fz;
    font-weight: 500;
    color: $txt_color;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    background-image: url(../img/designer_1.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.header {
    @extend %width80;
    max-height: 1000px;
    padding-top: 20px;
    .nav-bar {
        @extend %flex;
        .nav-bar__menu {
            display: flex;
            & li+li {
                margin-left: 60px;
            }
            .nav-bar__link {
                @include navigation(#505F98);
                &:hover {
                    font-weight: 700;
                    color: $btn_txt_color;
                }
                &:after, :before {
                transition: all .5s;
                }
            }
        }
        .nav-btn {
            @include btn(160px, 26px, $blue_btn_color, $btn_txt_color, 12px);
            @extend %hover;
        }
    }
    .header-info {
        width: 35rem;
        margin-top: 200px / 1000px *100%;
        margin-bottom: 350px / 1000px *100%;
        .header-heading {
            @extend %h1;
            @extend %hover-heading;
            margin-bottom: 20px;
        }
        .header-text {
            @extend %text;
            font-size: 18px;
            line-height: 30px;
            color: #505F98;
            margin-bottom: 69px;
        }
        .btn-purchase {
            @include btn($default_btn_width, 36px, $blue_btn_color, $btn_txt_color, 16px);
            margin-right: 30px;
            @extend %hover;
        }
        .btn-learn {
            @include btn($default_btn_width, 36px, none, $heading_txt_color, 16px);
            border: 2px solid $heading_txt_color;
            @extend %hover;
            &:hover {
                color: $btn_txt_color;
            }
        }
    }
}
.main {
    @extend %width80;
    .lfp {
        @extend %grid;
        padding-left: 2rem;
        padding-right: 2rem;
        &:first-child {
            padding: 9rem 0;
        }
        .lfp-info-block {
            width: 80%;
            .lfp-heading {
                @extend %h2;
                @extend %hover-heading;
                margin-bottom: 16px;
            }
            .lfp-text {
                @extend %text;
                margin-bottom: 80px;
            }
            .lfp-btn {
                @include btn(150px, 32px, $blue_btn_color, $btn_txt_color, 14px);
                @extend %hover;
            }
            .lfp-titles {
                @extend %grid;
                justify-items: start;
                grid-template-columns: 40% 40%;
                column-gap: 30px;
                grid-template-rows: 9rem;
                .title-heading {
                    @extend %text;
                    color: $heading_txt_color;
                    font-weight: 500;
                    margin-top: 14px;
                    margin-bottom: 6px;
                }
                .title-text {
                    font-family: 'Roboto';
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 300;
                    color: #5D6970;
                } 
            }       
        }        
    }
}
.price {
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14rem;
    padding-bottom: 8.5rem;
    .lfp-heading {
        @extend %h2;
        @extend %hover-heading;
        width: 37rem;
        margin-bottom: 16px;
    }
    .lfp-text {
        @extend %text;
        width: 37rem;
        margin-bottom: 36px;
    }
    .cost {
        margin-bottom: 60px;
        .cost-value {
            @extend %h1;
            color: #222F65;
        }
        .cost-capture {
            @extend %text;
            color: #37447E;
        }
    }
    .purchase {
        .purchase-text{
            @include navigation(#5D6970);
            margin-bottom: 9px;
        }
        .purchase-btn {
            @include btn($default_btn_width, 32px, $blue_btn_color, $btn_txt_color, 14px);
            @extend %hover;
        }
    }
}
.footer {
    background-color: #E7ECFF;
    padding-top: 60px;
    padding-bottom: 40px;
    .footer-top {
        @extend %flex;
        @extend %width80;
        border-bottom: 1px solid #CDD1D4;
        padding-bottom: 47px;
        .copyright {
            .copyright-text {
                @include navigation(#939EA4);
            }
        }
        .footer-btn { 
            .footer-small-btn {
                @include btn(110px, 26px, $blue_btn_color, $btn_txt_color, 12px);
                @extend %hover;
            }
        }
    }
    .footer-bottom {
        @extend %flex;
        @extend %width80;
        padding-top: 20px;
        .footer-nav {
            @extend %flex;
            & li+li {
                margin-left: 60px;
            }
            .footer-nav__menu {
                display: flex;
                .footer-nav__link {
                    @include navigation(#929ECC);
                    &:hover {
                        color: #091133;
                        font-weight: 500;
                    }
                }
            }
            .footer-nav__social {
                display: flex;
                & li+li {
                    margin-left: 30px;
                }
                & .fab {
                color: #B0B8BC;;
                font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
                font-size: 16px;
                transition: all 0.8s ease-in-out;
                    &:hover {
                    transform: rotate(360deg);
                    box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #3333ff 0px 0px 20px, #3333ff 0px 0px 30px, #3333ff 0px 0px 40px, #3333ff 0px 0px 50px, #3333ff 0px 0px 75px;
                    color: $heading_txt_color;
                    font-size: 20px;
                    }
                }
            }
        }
    }
}