@media (max-width: 1280px) {
  .header {
    padding-bottom: 10rem;
  }
  .header .header-info {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
  }
}

@media (max-width: 760px) {
  body {
    min-width: 360px;
    margin: 0 auto;
    contain: layout;
    background-image: none;
    background-color: #fff;
  }
  .content {
    min-width: 360px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(360px, 720px);
        grid-template-columns: minmax(360px, 720px);
    grid-auto-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header {
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header .nav-bar {
    display: inline-block;
  }
  .header .nav-bar__menu {
    visibility: hidden;
  }
  .header .nav-btn {
    visibility: hidden;
  }
  .header .header-info {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 0;
    padding-bottom: 15%;
    background-color: rgba(255, 255, 255, 0);
  }
  .header .header-info .header-heading {
    font-size: 35px;
  }
  .header .header-info .btn-purchase {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
  .main {
    width: 100%;
    padding: 0;
    margin: 0em;
  }
  .main .lfp {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 3rem;
  }
  .main .lfp:first-child {
    padding: 2rem 0;
  }
  .main .lfp .lfp-info-block .lfp-text {
    margin-bottom: 3rem;
  }
  .main .lfp .lfp-info-block .lfp-titles {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .main .lfp .lfp-info-block .lfp-heading {
    font-size: 26px;
  }
  .main .lfp .lfp-info-block:last-child {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .price {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .price .lfp-heading {
    width: 80%;
  }
  .price .lfp-text {
    width: 80%;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .footer .footer-top {
    display: none;
  }
  .footer .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-bottom .footer-nav li + li {
    margin-left: 2rem;
  }
  .footer .footer-bottom .footer-nav .footer-nav__menu {
    margin-bottom: 2rem;
  }
  .footer .footer-bottom .footer-nav .footer-nav__social li + li {
    margin-left: 3rem;
  }
}

.header, .main, .footer .footer-top, .footer .footer-bottom {
  width: 80%;
  margin: 0 auto;
}

.header .header-info .header-heading, .price .cost .cost-value {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 66px;
  font-size: 50px;
  color: #091133;
}

.main .lfp .lfp-info-block .lfp-heading, .price .lfp-heading {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 48px;
  font-size: 36px;
  color: #091133;
}

.header .header-info .header-text, .main .lfp .lfp-info-block .lfp-text, .main .lfp .lfp-info-block .lfp-titles .title-heading, .price .lfp-text, .price .cost .cost-capture {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #6F7CB2;
}

.main .lfp, .main .lfp .lfp-info-block .lfp-titles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  -ms-grid-rows: 35rem;
      grid-template-rows: 35rem;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-bar, .footer .footer-top, .footer .footer-bottom, .footer .footer-bottom .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-bar .nav-btn:hover, .header .header-info .btn-purchase:hover, .header .header-info .btn-learn:hover, .main .lfp .lfp-info-block .lfp-btn:hover, .price .purchase .purchase-btn:hover, .footer .footer-top .footer-btn .footer-small-btn:hover {
  color: #091133;
  background-color: rgba(121, 142, 224, 0.5);
  border: 2px solid #091133;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 3px 5px 2px #474747;
}

.header .header-info .header-heading:hover, .main .lfp .lfp-info-block .lfp-heading:hover, .price .lfp-heading:hover {
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  background-image: url(../img/designer_1.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.header {
  max-height: 1000px;
  padding-top: 20px;
}

.header .nav-bar .nav-bar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav-bar .nav-bar__menu li + li {
  margin-left: 60px;
}

.header .nav-bar .nav-bar__menu .nav-bar__link {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  color: #505F98;
  text-decoration: none;
}

.header .nav-bar .nav-bar__menu .nav-bar__link:hover {
  font-weight: 700;
  color: #fff;
}

.header .nav-bar .nav-bar__menu .nav-bar__link:after, .header .nav-bar .nav-bar__menu .nav-bar__link :before {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .nav-bar .nav-btn {
  width: 160px;
  height: 26px;
  background: #111B47;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.header .header-info {
  width: 35rem;
  margin-top: 20%;
  margin-bottom: 35%;
}

.header .header-info .header-heading {
  margin-bottom: 20px;
}

.header .header-info .header-text {
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
  margin-bottom: 69px;
}

.header .header-info .btn-purchase {
  width: 189px;
  height: 36px;
  background: #111B47;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 30px;
}

.header .header-info .btn-learn {
  width: 189px;
  height: 36px;
  background: none;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #091133;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #091133;
}

.header .header-info .btn-learn:hover {
  color: #fff;
}

.main .lfp {
  padding-left: 2rem;
  padding-right: 2rem;
}

.main .lfp:first-child {
  padding: 9rem 0;
}

.main .lfp .lfp-info-block {
  width: 80%;
}

.main .lfp .lfp-info-block .lfp-heading {
  margin-bottom: 16px;
}

.main .lfp .lfp-info-block .lfp-text {
  margin-bottom: 80px;
}

.main .lfp .lfp-info-block .lfp-btn {
  width: 150px;
  height: 32px;
  background: #111B47;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.main .lfp .lfp-info-block .lfp-titles {
  justify-items: start;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-rows: 9rem;
      grid-template-rows: 9rem;
}

.main .lfp .lfp-info-block .lfp-titles .title-heading {
  color: #091133;
  font-weight: 500;
  margin-top: 14px;
  margin-bottom: 6px;
}

.main .lfp .lfp-info-block .lfp-titles .title-text {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #5D6970;
}

.price {
  background-image: url(../img/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 14rem;
  padding-bottom: 8.5rem;
}

.price .lfp-heading {
  width: 37rem;
  margin-bottom: 16px;
}

.price .lfp-text {
  width: 37rem;
  margin-bottom: 36px;
}

.price .cost {
  margin-bottom: 60px;
}

.price .cost .cost-value {
  color: #222F65;
}

.price .cost .cost-capture {
  color: #37447E;
}

.price .purchase .purchase-text {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  color: #5D6970;
  text-decoration: none;
  margin-bottom: 9px;
}

.price .purchase .purchase-btn {
  width: 189px;
  height: 32px;
  background: #111B47;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer {
  background-color: #E7ECFF;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer .footer-top {
  border-bottom: 1px solid #CDD1D4;
  padding-bottom: 47px;
}

.footer .footer-top .copyright .copyright-text {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  color: #939EA4;
  text-decoration: none;
}

.footer .footer-top .footer-btn .footer-small-btn {
  width: 110px;
  height: 26px;
  background: #111B47;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer .footer-bottom {
  padding-top: 20px;
}

.footer .footer-bottom .footer-nav li + li {
  margin-left: 60px;
}

.footer .footer-bottom .footer-nav .footer-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-bottom .footer-nav .footer-nav__menu .footer-nav__link {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  color: #929ECC;
  text-decoration: none;
}

.footer .footer-bottom .footer-nav .footer-nav__menu .footer-nav__link:hover {
  color: #091133;
  font-weight: 500;
}

.footer .footer-bottom .footer-nav .footer-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-bottom .footer-nav .footer-nav__social li + li {
  margin-left: 30px;
}

.footer .footer-bottom .footer-nav .footer-nav__social .fab {
  color: #B0B8BC;
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-size: 16px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.footer .footer-bottom .footer-nav .footer-nav__social .fab:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #3333ff 0px 0px 20px, #3333ff 0px 0px 30px, #3333ff 0px 0px 40px, #3333ff 0px 0px 50px, #3333ff 0px 0px 75px;
          box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #3333ff 0px 0px 20px, #3333ff 0px 0px 30px, #3333ff 0px 0px 40px, #3333ff 0px 0px 50px, #3333ff 0px 0px 75px;
  color: #091133;
  font-size: 20px;
}
